/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Text color */
  --global-color-alpha-text: #000000; 
  --global-color-neutral-white: #ffffff;

  /* background color */
  --global-color-neutral: #82BFEB;

  /* Whitespace */    
    /* 
        global font-size = 15px
        baseline = 5px        
        15px = 1rem
        5px = 1rem/3
        This would equal to 0.3333333...rem but let the browser do the math
    */
    --global-baseline: calc(1rem / 2); 
    --global-whitespace-md: calc(var(--global-baseline) * 3); /* = 24px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /* = 32px */
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

.mainpage {
  font-size: 16px;
  font-family: "Segoe UI";
  background: var(--global-color-neutral);
  color: var(--global-color-main-text);
}

.landingpage {
  background-image: url(/img/jpg/Mars2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-backgroun-size: cover;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 23.43em; /* 78 * 15px = 1170 */
  width: 100%;
  padding: 16px;
}

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  display: flow-root; /* New solution! Fixes margin collapsing */
}
/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Global app component
*/

.c-app {
  min-height: 100vh;
}

.c-app__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  height: 56px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.c-logo__landingpage {
  margin-left: 32px;
  margin-top: 32px;
}

.c-logo__symbol {
  height: 100%;
}

.c-card__description {
  font-size: 26px;
  color: var(--global-color-neutral-white);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}

.c-card__sol {
  font-size: 36.5px;
  color: var(--global-color-neutral-white);
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.c-card__date {
  font-size: 16px;
  color: var(--global-color-neutral-white);
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.c-card__season {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

.c-card__season-item {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  text-align: center;
  margin-bottom: 0;
}

.c-card__temperature {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}

.c-card__temperature-item {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  text-align: center;
  margin-bottom: 0;
}

/*
    Component: Border
    ---
    Border of current sol
*/

.c-border {
  border: 3px solid #ffffff;
  border-radius: 15px;
}

/*
    Component: Dashboard
    ---
    Dashboard component with CSS grid
*/

.c-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: var(--global-whitespace-lg);
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 18.7em;
}

.c-grid__item1 {
  box-shadow: var(--global-box-shadow);
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: center;
  
}
.c-grid__item2 {
  box-shadow: var(--global-box-shadow);
  grid-column-start: 2;
  grid-row: 1;
  justify-self: center;
}

.LineUnderDate {
  border: 2px solid white;
  border-radius: 10px;
  width: 75%;
  margin-bottom: 16px;
}