/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Inter Web";
    font-weight: 400;           
    src: url("fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Web";
    font-weight: 600;
    src: url("fonts/Inter-medium.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Web";
    font-weight: 700;
    src: url("fonts/Inter-Bold.woff2") format("woff2");
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 18px;
    font-family: "Verdana";
    background: #82BFEB;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

body {
  margin: 0;
}

/* h1 {
  font-size: 36.5px;
  line-height: 48px;
  margin: 0;
  font-weight: bold;
} */

h2 {
  font-size: 26px;
  line-height: 31px;
  margin: 0 0 32px;
}

h3 {
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 8px 0; 
}

p {
  font-size: 17px;
  line-height: 22px;
  margin: 0 16px 0 16px;
}

img {
  max-width: 100%;
  vertical-align: top;
}

hr {
  margin: 8px 54px 16px 54px;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    /* padding: 24px 24px 0; */
    display: flow-root; /* New solution! Fixes margin collapsing */
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 20.83em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these 9affect o-layout__item too */
.o-layout--gutter {
  margin-top: 42px;
}

.o-layout--gutter-sm {
  margin: 0 -16px 8px -16px;
}

.o-layout--gutter-lg {
  margin: 0 0 32px 0;
}

.o-layout--gutter-xl1 {
  margin: 0 52px 0 61px;  
}

.o-layout--gutter-xl2 {
  margin: 0 61px 0 52px;
}

.o-layout--gutter-remove {
  margin: 0 -16px 0 -16px;
}

.o-layout--gutter-remove2 {
  margin: -16px 0 -16px 0;
}


.o-layout--align-center {
  align-items: center;
}

.o-layout--whitespace-nowrap {
  white-space: nowrap;
}



/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  margin-bottom: 50px;
}



/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    height: 56px;
    align-items: center;
    margin: 0 0 48px;
}

.c-logo__symbol {
  height: 100%;
}

.c-app {
  max-width: 23.43em;
}

.c-app__main {
  /* background-color: yellow; */
  justify-content: center;
}

/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

.c-lead--sm {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.c-lead--season {

}

.c-lead--lg {
    font-size: 26px;
    line-height: 31px;
    font-weight: 400;
}

.c-lead--xl {
  font-size: 36.5px;
  line-height: 48px;
  font-weight: 700;
  margin: 16px 101px 0 101px;
  white-space: nowrap;
}

/* 
    Component: header
    ---
    Main header of the website
*/

.c-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

/* 
    Component: SOL
    ---
    Info about what sol and date it is
*/

.c-border {
  border: 3px solid #ffffff;
  border-radius: 15px;
}

/* 
    Component: SOL
    ---
    Info about what sol and date it is
*/

.c-information {

}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-sm {
  max-width: 19.05em !important;    /* of 343 px */
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
  flex-basis: auto !important;
}

.u-flex-grow-1 {
  flex-grow: 1 !important;
}

.u-1-of-2 {
  flex-basis: calc(100% / 2) !important;
}


/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-primary-base {
    color: #ffffff;
}



.LineUnderDay {
  border: 2px solid white;
  border-radius: 10px;
}








