/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Text color */
  --global-color-alpha-text: #000000; 
  --global-color-neutral-white: #ffffff;

  /* background color */
  --global-color-neutral: #82BFEB;

  --global-color-landingpage: #F38562;

  /* Whitespace */    
    /* 
        global font-size = 15px
        baseline = 5px        
        15px = 1rem
        5px = 1rem/3
        This would equal to 0.3333333...rem but let the browser do the math
    */
    --global-baseline: calc(1rem / 2); 
    --global-whitespace-md: calc(var(--global-baseline) * 3); /* = 24px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /* = 32px */
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

.mainpage {
  font-size: 16px;
  font-family: "Segoe UI";
  background: var(--global-color-neutral);
  color: var(--global-color-main-text);
}

.landingpage {
  font-size: 16px;
  font-family: "Segoe UI";
  background-image: url(../img/jpg/Mars2.jpg);
  color: var(--global-color-neutral-white);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-backgroun-size: cover;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 23.43em; /* 78 * 15px = 1170 */
  width: 100%;
  padding: 16px;
}

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  display: flow-root; /* New solution! Fixes margin collapsing */
}
/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Global app component
*/

.c-app {
  min-height: 100vh;
}

.c-app__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  height: 56px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.c-logo__landingpage {
  margin-left: 32px;
  margin-top: 32px;
}

.c-logo__symbol {
  height: 100%;
}

.c-card__description {
  font-size: 26px;
  color: var(--global-color-neutral-white);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 16px;
}

.c-card__sol {
  font-size: 36.5px;
  color: var(--global-color-neutral-white);
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.c-card__date {
  font-size: 16px;
  color: var(--global-color-neutral-white);
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.c-card__season {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

.c-card__season-item {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  text-align: center;
  margin-bottom: 0;
}

.c-card__temperature {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}

.c-card__temperature-item {
  font-size: 18px;
  color: var(--global-color-neutral-white);
  text-align: center;
  margin-bottom: 0;
}

.c-custom-select__input {
  margin-bottom: 16px;
}

/* 
    Component: landingpage
*/

.c-card__title-landingpage {
  font-size: 45px;
  color: var(--global-color-neutral-white);
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  line-height: 60px;  
  width: 19.62em;
}

.c-card__description-landingpage {
  font-size: 20px;
  color: var(--global-color-neutral-white);
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 31.35em;
}

.c-input__email {
  font-size: 20px;
  height: 50px;
  width: 226px;
  border-radius: 25px;
  padding-left: 24px;
  margin-right: 32px;
  border-color: var(--global-color-neutral-white);
  border-style: solid;
  background-color: transparent;
  color: var(--global-color-neutral-white);
  outline: none;
}


.c-input__register {
  font-size: 20px;
  height: 50px;
  width: 250px;
  border-radius: 25px;
  text-align: center;
  background-color: var(--global-color-landingpage);
  border-color: var(--global-color-landingpage);
  color: var(--global-color-neutral-white);
  outline: none;
  cursor: pointer;
}

/*
    Component: Border
    ---
    Border of current sol
*/

.c-border {
  border: 3px solid #ffffff;
  border-radius: 15px;
  margin-bottom: 16px;
}

/*
    Component: Grid
    ---
    Grid
*/

.c-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: var(--global-whitespace-lg);
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 18.7em;
}

.c-grid__item1 {
  box-shadow: var(--global-box-shadow);
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: center;
  
}
.c-grid__item2 {
  box-shadow: var(--global-box-shadow);
  grid-column-start: 2;
  grid-row: 1;
  justify-self: center;
}

/*
    Component: Frame
    ---
    Frame on landingspage.html
*/

.c-frame {
  width: 63.19em;
  height: 36.19em;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}



/* @media screen and (min-width: 1920px) {
  .c-frame {


  } */

.c-form{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-top: 32px;
  margin-right: auto;
  margin-bottom: 0;
}



.LineUnderDate {
  border: 2px solid white;
  border-radius: 10px;
  width: 75%;
  margin-bottom: 16px;
}


.chart {
  border: solid;
}

/* MICRO INTERACTION */

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:1em;
}


/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}
