.grid-container {
    display: grid;
}


.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.grid-element {
    background-color: deepPink;
    padding: 20px;
    color: #fff;
    border: 1px solid #fff;
}
  
  
body {
    padding: 2em;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    max-width: 29em; /* 400 / font size (16) => 25em */
    padding: 2em;
    margin: 0 auto;
    background: steelblue;
}